<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mercado Liebre</title>
  <meta http-equiv=""X-UA-Compatible" content="IE=edge">
  <meta name="Viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel ="stylesheet" href="/css/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  rel="stylesheet" />
</head>

<body>
  <header class="main-header">

    <div class="header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo">
       
          <div class="search">
              <input type="text" id="name" placeholder="Buscar productos, marcas y mas...">
              <i class="fas fa-search"></i>
          </div>

          <h4 class="shopping">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h4>
        </div>
        </div>
        
        <div class="burguer-menu">
          <i class="fas fa-bars"></i>
        </div>

    <nav class="header-bottom-bar">   
      <ul>
        <li><a href="#">Ofertas </a></li>
        <li><a href="#">Tiendas Oficiales </a></li>
        <li><a href="#">Vender </a></li>
        <li><a href="#">Ayuda </a></li>
      </ul>

      <ul>
        <li><a href="http://localhost:3001/formulario">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
        <li><a href="http://localhost:3001/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>
  </header>
  
    <main>
      <img  class= "image-home" src="/images/img-home-banner.jpg">
      
      <section>
      <div class="titles">
        <h3>Basado en tu última visita</h3>
      </div>
      
      <div class="home">
        
      <div class="item-box">
        <img class="img" src="/images/img-cafetera-moulinex.jpg"><br>
      <div class="description">
        <i class="fas fa-truck"></i><br>
        <div class="price-descounts">
          <p class="price">$6770</p>
          <p class="discounts">40% off</p>
        </div>
        <p class="product">Cafetera Moulinex</p>
    </div>
    </div>

    <div class="item-box">
        <img class="img" src="/images/img-macbook-pro-2019.jpg"><br>
      <div class="description">
          <i class="fas fa-truck" class="icono-venta"></i><br>
          <div class="price-descounts">
            <p class="price">$230.000</p>
            <p class="discounts">20% off</p>
          </div> 
          <p class="product">Macbook pro 2019</p>
      </div>
    </div>

    <div class="item-box">
        <img class="img" src="/images/img-samsung-galaxy-s10.jpg"><br>
      <div class="description">
        <i class="fas fa-truck" class="icono-venta"></i><br>
        <div class="price-descounts">
          <p class="price">$70.500</p>
          <p class="discounts">10% off</p>
        </div>
        <p class="product">Samsung Galaxy S10</p>
      </div>
    </div>

    <div class="item-box">
        <img class="img" src="/images/img-tv-samsung-smart.jpg"><br>
      <div class="description">
        <i class="fas fa-truck" class="icono-venta"></i><br>
        <div class="price-descounts">
          <p class="price">$23.200</p>
          <p class="discounts">5% off</p>
        </div>
        <p class="product">SmarTv Samsung 43"</p>
      </div>
    </div>
  </div>
</section>

<section>
<div class="titles">
  <h3>Ofertas</h3>
</div>
<div class="home">
<div class="item-box">
  <img class="img" src="/images/img-cafetera-moulinex.jpg"><br>
<div class="description">
  <i class="fas fa-truck"></i><br>
  <div class="price-descounts">
    <p class="price">$6770</p>
    <p class="discounts">40% off</p>
  </div>
  <p class="product">Cafetera Moulinex</p>
</div>
</div>

<div class="item-box">
  <img class="img" src="/images/img-macbook-pro-2019.jpg"><br>
<div class="description">
    <i class="fas fa-truck" class="icono-venta"></i><br>
    <div class="price-descounts">
      <p class="price">$230.000</p>
      <p class="discounts">20% off</p>
    </div> 
    <p class="product">Macbook pro 2019</p>
</div>
</div>

<div class="item-box">
  <img class="img" src="/images/img-samsung-galaxy-s10.jpg"><br>
<div class="description">
  <i class="fas fa-truck" class="icono-venta"></i><br>
  <div class="price-descounts">
    <p class="price">$70.500</p>
    <p class="discounts">10% off</p>
  </div>
  <p class="product">Samsung Galaxy S10</p>
</div>
</div>

<div class="item-box">
  <img class="img" src="/images/img-tv-samsung-smart.jpg"><br>
<div class="description">
  <i class="fas fa-truck" class="icono-venta"></i><br>
  <div class="price-descounts">
    <p class="price">$23.200</p>
    <p class="discounts">5% off</p>
  </div>
  <p class="product">SmarTv Samsung 43"</p>
</div>
</div>
</div>
</section>
  </main>

  <footer>
    
        <div class="credit">
          <div class="icon-credit-card">
            <i class="fas fa-credit-card"></i>
          </div>
        <h4>Pagá con tarjeta o en efectivo</h4> 
        <p>Con MercadoLiebreCash, tenés cuotas sin interés <br>con tarjeta o efectivo en puntos de pago.<br> ¡Y siempre es seguro!</p></div>
        </div>
         
        <div class="gift">
          <div class="icon-gift">
            <i class="fas fa-gift"></i>
          </div>
          <h4>Envio gratis desde $2.500</h4>
          <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de productos. Es <br> un beneficio de Mercado Puntos</p></div>
        </div>
           
        <div class="shield">
          <div class="icon-shield">
            <i class="fas fa-user-shield"></i>
         </div>
          <h4>Seguridad de principio a fin</h4>
          <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre <br> no hay nada que no puedas hacer, porque estás <br> siempre protegid@.</p></div>
        </div> 

      <div class="copyright">
        <p>Copyright © 1999-2020 MercdoLiebre S.R.L.</p>
      </div>
    
  </footer>
</body>

</html>