<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mercado Liebre Login</title>
  <meta http-equiv=""X-UA-Compatible" content="IE=edge">
  <meta name="Viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel ="stylesheet" href="/css/styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  rel="stylesheet" />
</head>

<body>
  <header class="main-header">

    <div class="header-top-bar">
        <img src="/images/logo-mercado-liebre.svg" class="logo">
       
          <div class="search">
              <input type="text" id="name" placeholder="Buscar productos, marcas y mas...">
              <i class="fas fa-search"></i>
          </div>

          <h4 class="shopping">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
          </h4>
        </div>
        </div>
        
        <div class="burguer-menu">
          <i class="fas fa-bars"></i>
        </div>

    <nav class="header-bottom-bar">   
      <ul>
        <li><a href="#">Ofertas </a></li>
        <li><a href="#">Tiendas Oficiales </a></li>
        <li><a href="#">Vender </a></li>
        <li><a href="#">Ayuda </a></li>
      </ul>

      <ul>
        <li><a href="/formulario">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>
  </header>
</head>

<body>
  <main>
  <div class="login">
  <form action="/">
    <div class="user-login">
      <input class="login-user" type="email" name="user-login" placeholder="Nombre de usuario" required>
    </div>
    <div class="password-login">
      <input class="login-user" type="password" minlength="4" maxlength="8" name="password-login" placeholder="Contraseña" required >
    </div>
    <button class="send-login" type="submit">Enviar</button>
  </form>
</div>
</main>
  <footer>
    
    <div class="credit">
      <div class="icon-credit-card">
        <i class="fas fa-credit-card"></i>
      </div>
    <h4>Pagá con tarjeta o en efectivo</h4> 
    <p>Con MercadoLiebreCash, tenés cuotas sin interés <br>con tarjeta o efectivo en puntos de pago.<br> ¡Y siempre es seguro!</p></div>
    </div>
     
    <div class="gift">
      <div class="icon-gift">
        <i class="fas fa-gift"></i>
      </div>
      <h4>Envio gratis desde $2.500</h4>
      <p>Solo por estar registrad@ en Mercado Liebre <br> tenés envíos gratis en miles de productos. Es <br> un beneficio de Mercado Puntos</p></div>
    </div>
       
    <div class="shield">
      <div class="icon-shield">
        <i class="fas fa-user-shield"></i>
     </div>
      <h4>Seguridad de principio a fin</h4>
      <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre <br> no hay nada que no puedas hacer, porque estás <br> siempre protegid@.</p></div>
    </div> 

  <div class="copyright">
    <p>Copyright © 1999-2020 MercdoLiebre S.R.L.</p>
  </div>

</footer>
</body>
</html>